@import "variables";
@import "mixins";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fontFamily;
  margin: 0;
  height: 100vh;
}
.wrapper {
  display: flex;
  height: 100%;
  .info {
    @include radius;
    @include colFlex;
    @include gradient;
    color: $offWhite;
    gap: 25px;
    margin: 20px 0 20px 10px;
    padding: 30px 40px;
    .firstTitle {
      font-size: $title;
    }

    .infoItem {
      @include colFlex;
      gap: 5px;
    }
    .iconLabel {
      color: $grey;
      font-size: $small;
    }
    .icons {
      margin-top: auto;
      display: flex;
      gap: 15px;
      font-size: 20px;
    }

    .icons i:hover {
      cursor: pointer;
      color: $grey;
    }
  }
  .contact {
    box-shadow: $boxShadow;
    gap: 10px;
    @include radius;
    @include colFlex();
    width: 70%;
    height: 90%;
    margin: auto 0;
    padding: 20px 100px;
    .secondTitle {
      font-size: $title;
    }
    hr {
      width: 100%;
      height: 1px;
      background-color: $divider;
      border: none;
    }
    form {
      color: $grey;
      @include colFlex();
      gap: 10px;
      .labelInput {
        @include colFlex;
        gap: 8px;
        font-weight: bold;
        input,
        textarea {
          @include radius;
          border: $mainBorder;
          padding: 10px;
        }
      }
      .validText {
        color: $validText !important;
      }
      .invalidText {
        color: $invalidText !important;
      }
    }

    #submit {
      @include radius;
      background-color: $purple;
      color: $offWhite;
      border: none;
      width: 100%;
      padding: 15px;
      margin-top: 20px;
      font-size: $medium;
      cursor: pointer;
    }

    #submit:hover {
      @include gradient;
    }
  }
}
.valid {
  border: $valid;
}

.invalid {
  border: $invalid;
}

.hide {
  display: none;
}

@media only screen and (max-width: $breakPoint) {
  .wrapper {
    flex-direction: column;
  }
  .contact {
    width: 100% !important;
    padding: 20px !important;
  }

  .info {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}
